body {
	background-color:#bd90e5 ;
	margin:80px 80px 100px 100px;
}
div#fixedheader {
	position:;
	
	width:100%;
	color:#CCC;
	background:#333;
	padding:20px;
}
div#fixedfooter {
	position:;
	
	width:100%;
	color:#CCC;
	background:#;
	padding:8px;
}
</>
